<EditForm method="post" Model="ItemPicture" OnValidSubmit="AddPicture">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="itempictureurl" class="form-label">Picture url </label>
        <InputText id="itempictureurl" @bind-Value="ItemPicture.Url" class="form-control" />
        <ValidationMessage For="() => ItemPicture.Url" class="text-danger" />
        <button class="btn btn-primary" type="submit" @onclick="@(() => AddPicture())">Add</button>
    </div>
</EditForm>


@code {
    [CascadingParameter]
    public ItemPicture ItemPicture { get; set; }

    [Parameter]
    public EventCallback<ItemPicture> OnPictureAdded { get; set; }

    private async Task AddPicture()
    {
        await OnPictureAdded.InvokeAsync(ItemPicture);
    }
}
