<fieldset class="mb-3" disabled="@IsAddingPicture">
    <label for="itempictureurl" class="form-label">Picture url </label>
    <InputText id="itempictureurl" @bind-Value="ItemPicture.Url" class="form-control" />
    <ValidationMessage For="() => ItemPicture.Url" class="text-danger" />
    <button class="btn btn-primary" type="button" @onclick="@(() => AddPicture())">Add</button>
</fieldset>

@code {
    [CascadingParameter]
    public ItemPicture? ItemPicture { get; set; }

    [Parameter]
    public EventCallback<ItemPicture> OnPictureAdded { get; set; }

    public bool IsAddingPicture { get; set; }

    private async Task AddPicture()
    {
        IsAddingPicture = true;
        try
        {
            await OnPictureAdded.InvokeAsync(ItemPicture);
            await Task.Delay(500);
            ItemPicture.Url = "";
        }
        catch (Exception ex)
        {
            ex.Message.ToString();
        }
        finally
        {
            IsAddingPicture = false;
        }
    }
}
