@using Cirkla.ApiClient.ClientService;
@inject IClient _client;

<EditForm method="post" Model="User" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <h3>Login</h3>
    <hr />
    <div class="=mb3">
        <label for="email" class="form-label">Email </label>
        <InputText id="email" @bind-Value="User.Email" class="form-control" />
        <ValidationMessage For="() => User.Email" class="text-danger" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password </label>
        <input id="password" type="password" class="form-control" />
        @*Change to InputText above, and add validation below
        <ValidationMessage For="() => PasswordPlaceholder" class="text-danger" />*@
    </div>
    <div>
        <input class="btn btn-secondary" type="reset" value="Reset" />
        <button class="btn btn-primary" type="submit" value="Submit">Login</button>
    </div>
    <div class="mt-3 mb-3">
        @if (userMessage is not null)
        {
            <p class="text-success">@userMessage</p>
        }
    </div>
</EditForm>


@code {
    [Parameter]
    public User User { get; set; } = new();

    private string? userMessage;

    private async Task OnSubmit()
    {
        userMessage = $"You successfully logged in as {User.Email}.";
    }
}