@inject IClient _client;
@inject NavigationManager _navigationManager;

@if (Contract is not null)
{
    <div class="d-flex">
        <a href="/borrowing-timelines" class="btn btn-secondary me-2" type="button">Back</a>
        <button type="button" id="Deny" class="btn btn-danger me-2" @onclick='() => SendReplyToBorrower("Deny")'>Deny(icon)</button>
        <button type="button" id="Accept" class="btn btn-success me-2" @onclick='() => SendReplyToBorrower("Accept")'>Accept(icon)</button>
    </div>
}


@code {
    [Parameter]
    public Contract? Contract { get; set; }

    private async Task SendReplyToBorrower(string buttonName)
    {
        // TODO: Move to mapper
        ContractUpdateDTO contractUpdateDTO = new()
            {
                Id = Contract.Id,
                UpdatedByUserId = Contract.Owner.Id,
                ItemId = Contract.Item.Id,
                OwnerId = Contract.Owner.Id,
                BorrowerId = Contract.Borrower.Id,
                StartTime = Contract.StartTime,
                EndTime = Contract.EndTime,
                Created = Contract.Created,
                CurrentStatus = ContractStatus.None,
                LastStatus = Contract.StatusChanges.LastOrDefault().To
            };

        try
        {
            if (buttonName == "Deny")
            {
                contractUpdateDTO.CurrentStatus = ContractStatus.Denied;
            }
            else if (buttonName == "Accept")
            {
                contractUpdateDTO.CurrentStatus = ContractStatus.Accepted;
            }
            await _client.ApiBorrowingContractRespondToRequestAsync(Contract.Id, contractUpdateDTO);
            Console.WriteLine("Button component responded to borrower request successfully");
            //_navigationManager.NavigateTo("/borrowing-timelines");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}
