<nav class="navbar navbar-expand-md navbar-dark fixed-top position-sticky w-100" style="background-color:#186F65;">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/" >Cirkla</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav nav-pills">
                <li class="nav-item p-2 mx-3">
                    <NavLink class="nav-link" href="cirkla">Cirkla</NavLink>
                </li>
                <li class="nav-item p-2 mx-3">
                    <NavLink class="nav-link" href="inventory">My items</NavLink>
                </li>
                <li class="nav-item p-2 mx-3">
                    <NavLink class="nav-link" href="inbox">Inbox</NavLink>
                </li>
                <li class="nav-item p-2 mx-3">
                    <NavLink class="nav-link" href="login">Login</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    // TODO: Add user name in top right corner instead of login button when logged in
    // TODO: Change "Cirkla" link to go to a browsing and searching page

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
