<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#186F65;">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/" >Cirkla</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav nav-pills">
            <li class="nav-item p-2 mx-3">
                <NavLink class="nav-link" href="publishitem">Add item</NavLink>
            </li>
                <li class="nav-item p-2 mx-3">
                <NavLink class="nav-link" href="items">View your items</NavLink>
            </li>
                <li class="nav-item p-2 mx-3">
                <NavLink class="nav-link" href="login">Login</NavLink>
            </li>
        </ul>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
