@page "/cirkla"
@using Cirkla_Client.Pages.SearchAndBrowse.Components
@inject IClient _client;

<PageTitle>Cirkla</PageTitle>
<h3>Cirkla</h3>
<hr />
@if (message is not null)
{
    <p class="text-danger">@message</p>
}
<div class="container">
    <div class="row">
        @if (!AllItems.Any())
        {
            <p>Loading items...</p>
        }
        else
        {
            foreach (var item in AllItems)
            {
                <BorrowItemCard Item="item"/>
            }
        }
    </div>
</div>




@code {
    // TODO: Add pagination serverside & clientside
    // TODO: Fix image height in cards

    // TODO: Set Item Status in backend

    [Parameter]
    public List<Item> AllItems { get; set; } = new();

    private string? message;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var response = await _client.ApiItemAllAsync();
            AllItems = response.ToList();
            if (AllItems is null)
            {
                message = "No objects to load at this time";
            }
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
}
