@page "/cirkla"
@using Cirkla_Client.Pages.Components
@using Cirkla_Client.Pages.SearchAndBrowse.Components
@using SnackbarService = Cirkla_Client.Services.SnackbarService
@inject IClient Client;
@inject SnackbarService SnackbarService;

<PageTitle>Cirkla</PageTitle>
<h3>Cirkla</h3>
<hr />

<MudGrid>
    @if (!AllItems.Any())
    {
        <p>Loading items...</p>
    }
    else
    {
        foreach (var item in AllItems)
        {
            <MudItem xs="12" sm="6" md="3" lg="2" Class="mb-4">
                <BorrowItemCard Item="item"/>
            </MudItem>
        }
    }
</MudGrid>

@code {
    [Parameter]
    public List<Item>? AllItems { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var response = await Client.Item_GetAllAsync();
            AllItems = response.ToList();
            if (AllItems is null)
            {
                SnackbarService.Error("Couldn't load items at this time");
            }
        }
        catch (Exception ex)
        {
            SnackbarService.Error("Couldn't load items at this time");
        }
    }
}
