@page "/request/review"
@using System.Runtime.CompilerServices;
@using Cirkla_Client.Pages.Components;
@inject IClient _client;
@inject NavigationManager _navigationManager;


<PageTitle>Request summary</PageTitle>
<h3>Request @_requestNumber summary</h3>
<hr />

<div>
    @if (Contract is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <img src="@Contract?.Item?.Pictures?.FirstOrDefault()?.Url" alt="Picture of @Contract?.Item?.Name" class="img-fluid" style="width: 350px; height: auto;" />
        <br />
        <br />
        <dl class="row">
            <dt class="col-sm-2">Cirkla member</dt>
            <dd class="col-sm-10">@Contract?.Borrower.FirstName @Contract?.Borrower.LastName</dd>
            <dt class="col-sm-2">Requests to borrow</dt>
            <dd class="col-sm-10">@Contract?.Item?.Name @Contract?.Item?.Model</dd>
            <dt class="col-sm-2">From Cirkla member</dt>
            <dd class="col-sm-10">@Contract?.Owner.FirstName @Contract?.Owner.LastName</dd>
            @if (Contract.StatusChanges.Any(sc => sc.To == ContractStatus.Accepted))
            {
                <dt class="col-sm-2">Contact owner for details</dt>
                <dd class="col-sm-10">@Contract?.Owner.PhoneNumber</dd>
            }
            <dt class="col-sm-2">From</dt>
            <dd class="col-sm-10">@Contract?.StartTime</dd>
            <dt class="col-sm-2">To</dt>
            <dd class="col-sm-10">@Contract?.EndTime</dd>
            @* <dt class="col-sm-2">Under the following conditions</dt>
            <dd class="col-sm-10">(Coming feature, not yet implemented)</dd> *@
            <dt class="col-sm-2">Current status</dt>
            <dd class="col-sm-10">@Contract.StatusChanges.LastOrDefault().To by @Contract?.StatusChanges?.LastOrDefault()?.ChangedBy?.FirstName</dd>
            <dt class="col-sm-2">Status history</dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var statusChange in Contract.StatusChanges.Reverse())
                    {
                        <li>@statusChange?.ChangedBy?.FirstName</li>
                        <li>@statusChange?.ChangedAt</li>
                        <li>@statusChange?.From -> @statusChange?.To</li>
                        <br/>
                    }
                </ul>
            </dd>
        </dl>
        <MudGrid Justify="Justify.FlexStart">
            <MudButton id="Back" ButtonType="ButtonType.Button" Color="Color.Dark" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.FastRewind" Href="/inventory" Class="ml-5">Back</MudButton>
            @if (_canCancel)
            {
                <CancelRequestButton Contract="Contract" />
            }
            @if (_canReply)
            {
                <ReplyToRequestButtons Contract="Contract" />
            }
            @if (_canActivate)
            {
                <ActivateRequestButton Contract="Contract" />
            }
            @if (_canComplete)
            {
                <CompleteRequestButton Contract="Contract" />
            }
        </MudGrid>
    }
    @if(!string.IsNullOrEmpty(_tempMessage))
    {
        <p class="@_messageClass mt-3">@_tempMessage</p>
    }
</div>


@code {
    // TODO: Add more detailed conditions for showing/hiding buttons and refactor to pattern matching (depending on date, logged in user, etc)

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private Contract? Contract { get; set; }

    private string? _requestNumber;
    private string? _tempMessage;
    private string? _messageClass;
    private bool _canReply;
    private bool _canActivate;
    private bool _canCancel;
    private bool _canComplete;

    protected override async Task OnInitializedAsync()
    {
        await GetRequestDataFromApi();

        var changes = Contract?.StatusChanges;
        var lastStatus = changes?.LastOrDefault()?.To;
    
        _canReply = changes is not null &&
                    !changes.Any(sc => sc.To is ContractStatus.Accepted or ContractStatus.Denied);
        _canActivate = changes is not null &&
                       lastStatus is ContractStatus.Accepted &&
                       !changes.Any(sc => sc.To is ContractStatus.Completed or ContractStatus.Archived);
        _canCancel = changes is not null &&
                         !changes.Any(sc => sc.To is ContractStatus.Archived) &&
                         lastStatus is not ContractStatus.Cancelled;
        _canComplete = changes is not null &&
                       lastStatus is ContractStatus.Active &&
                       !changes.Any(sc => sc.To is ContractStatus.Completed or ContractStatus.Archived);
    }



    private async Task GetRequestDataFromApi()
    {
        Console.WriteLine("RequestSummary component is getting Contract values from API...");
        try
        {
            Contract = await _client.ApiBorrowingContractViewRequestSummaryAsync(Id);
            _requestNumber = $"#{Contract.Id}";
        }
        catch (ApiException ex)
        {
            if (ex.StatusCode == 404)
            {
                Console.WriteLine("Something went wrong getting Contract values from API.");
                _messageClass = "text-danger";
                _tempMessage = ex.Message;
            }
            else
            {
                Console.WriteLine("Something went wrong getting Contract values from API.");
                _messageClass = "text-danger";
                _tempMessage = ex.Message;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Something went wrong getting Contract values from API.");
            _messageClass = "text-danger";
            _tempMessage = ex.Message.ToString();
        }
    }
}

