@page "/borrowing-timelines"
@using Cirkla_Client.Pages.Components;
@inject IClient _client;

<PageTitle>Timelines</PageTitle>

@if (BorrowingItems is null && SharingItems is null)
{
    <p><em>Loading...</em></p>
}

<h3>You are borrowing</h3>
<hr/>
<TimeLineGrid Contracts="BorrowingItems ?? new List<Contract>()" /> @*For borrowed items*@

<h3>You are sharing</h3>
<hr/>
<TimeLineGrid Contracts="SharingItems ?? new List<Contract>()" /> @*For shared items*@



@code {
    // TODO: Make API return a flatter DTO with only the necessary information for the timeline
    public List<Contract>? BorrowingItems { get; set; }
    public List<Contract>? SharingItems { get; set; }
    private string _tempUserId = "b2162ceb-793d-4e32-8029-ca56472dd93a"; // TODO: Send in the actual logged in user's id. Here is use 'Liza Minelli', hardcoded.

    protected override async Task OnInitializedAsync()
    {

        var borrowingResult = await _client.ApiTimeLineBorrowingTimeLineAsync(_tempUserId);
        var sharingResult = await _client.ApiTimeLineSharingTimeLineAsync(_tempUserId);

        if (borrowingResult.Any())
        {
            BorrowingItems = borrowingResult.ToList();
        }

        if (sharingResult.Any())
        {
            SharingItems = sharingResult.ToList();
        }
    }
}