@page "/request/view"
@page "/request/review"
@inject IClient _client;
@inject NavigationManager _navigationManager;


<PageTitle>Request summary</PageTitle>
<h3>Request summary @requestNumber</h3>
<hr />

<div>
    @if (Contract is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <img src="@Contract.Item.Pictures?.FirstOrDefault()?.Url" alt="Picture of @Contract?.Item?.Name" class="img-fluid" style="width: 350px; height: auto;" />
        <br />
        <br />
        <dl class="row">
            <dt class="col-sm-2">Cirkla member</dt>
            <dd class="col-sm-10">@Contract?.Borrower.FirstName @Contract?.Borrower.LastName</dd>
            <dt class="col-sm-2">Requests to borrow</dt>
            <dd class="col-sm-10">@Contract?.Item.Name @Contract?.Item.Model</dd>
            <dt class="col-sm-2">From Cirkla member</dt>
            <dd class="col-sm-10">@Contract?.Owner.FirstName @Contract?.Owner.LastName</dd>
            <dt class="col-sm-2">From</dt>
            <dd class="col-sm-10">@Contract?.StartTime</dd>
            <dt class="col-sm-2">To</dt>
            <dd class="col-sm-10">@Contract?.EndTime</dd>
            <dt class="col-sm-2">Under the following conditions</dt>
            <dd class="col-sm-10">(Coming feature, not yet implemented)</dd>
            <dt class="col-sm-2">Status</dt>
            @if(Contract.AcceptedByOwner is not null)
            {
                <dd class="col-sm-10">Request accepted</dd>
            }
            else if(Contract.DeniedByOwner is not null)
            {
                <dd class="col-sm-10">Request denied</dd>
            }
            else
            {
                <dd class="col-sm-10">Waiting for reply from owner</dd>
            }

            @if (route == "/request/review" && Contract.AcceptedByOwner is null && Contract.DeniedByOwner is null)
            {
                <CascadingValue Value="Contract">
                    <ReplyToRequestButtons />
                </CascadingValue>
            }
        </dl>
    }
    @if(!string.IsNullOrEmpty(tempMessage))
    {
        <p class="@messageClass mt-3">@tempMessage</p>
    }
</div>


@code {
    // TODO: Finalized contract (accepted and active, or archived or denied) should lead to another, more static view, with no controls

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [CascadingParameter]
    public Contract? Contract { get; set; }

    private string? route;
    private string? requestNumber;
    private string? tempMessage;
    private string? messageClass;

    protected override async Task OnInitializedAsync()
    {
        await GetRequestDataFromApi();
        route = await CaptureUrlRoute();
    }



    private async Task GetRequestDataFromApi()
    {
        try
        {
            Contract = await _client.ApiBorrowingViewRequestAsync(Id);
            requestNumber = $"#{Contract.Id}";
        }
        catch (ApiException ex)
        {
            if (ex.StatusCode >= 200 && ex.StatusCode <= 299)
            {
                messageClass = "text-success";
                tempMessage = "Here's the request!";
            }
            else if (ex.StatusCode == 404)
            {
                _navigationManager.NavigateTo("/notfound");
            }
            else
            {
                messageClass = "text-danger";
                tempMessage = ex.Message.ToString();
            }
        }
    }


    private async Task<string> CaptureUrlRoute()
    {
        var uri = new Uri(_navigationManager.Uri);
        string capturedRoute = uri.AbsolutePath;
        return capturedRoute;
    }
}

