@if (temporaryCategoryList == null)
{
    <p>
        <em>Loading ...</em>
    </p>
}
else
{
    <div class="row mb-3">
        <label for="category" class="col-sm-2 col-form-label">Category </label>
        <div class="col-sm-10">
            <InputSelect id="categorydropdown" @bind-Value="ItemDTO.Category" class="form-select col-sm-10">
                <option value="" disabled selected hidden>Select category</option>
                @foreach (string category in temporaryCategoryList)
                {
                    <option value="@category">@category</option>
                }
            </InputSelect>
        </div>
    </div>
}


@code {
    [CascadingParameter]
    private string[] temporaryCategoryList { get; set; }

    [CascadingParameter]
    ItemCreateDTO ItemDTO { get; set; }
}