@page "/"

@* <div class="full-page-image-wrapper position-fixed top-0 start-0 mb-0 overflow-hidden" style="min-width:100%; height:100%;">
    <image src="/Images/DIY-people.jpg" alt="Illustration of people carrying tools and a DIY-sign" class="full-page-image" />
</div> *@

@code {
    
}