@page "/inbox"

<PageTitle>Inbox</PageTitle>
<h3>User Name's inbox</h3>
<hr />

<InboxIncoming />

<InboxMyPendingRequests />

<InboxPastContracts />


@code {
    // TODO: Add user name in the h3 above
}
