@using Cirkla_Client.Extensions
@using Cirkla_Client.Providers
@using Cirkla_Client.Services;
@using SnackbarService = Cirkla_Client.Services.SnackbarService
@inject IClient Client;
@inject IAuthenticationService AuthService;
@inject NavigationManager NavigationManager;
@inject IApiAuthStateProvider AuthStateProvider;
@inject SnackbarService SnackbarService

<EditForm method="post" Model="User" OnSubmit="OnValidSubmit" disabled="@_isSendingApiRequest">
    <DataAnnotationsValidator />
    <h3 class="mb-5">Login</h3>
    <div class="mb-3">
        <label for="username" class="form-label">Email </label>
        <InputText id="username" @bind-Value="User.Email" class="form-control" />
        <ValidationMessage For="() => User.Email" class="text-danger" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password </label>
        <InputText id="password" type="password" @bind-Value="User.Password" class="form-control" />
        <ValidationMessage For="() => User.Password" class="text-danger" />
    </div>
    <div>
        <input class="btn btn-secondary" type="reset" value="Reset" />
        <button class="btn btn-primary" type="submit" value="Submit">Login</button>
    </div>
</EditForm>


@code {

    [Parameter]
    public UserLoginDTO User { get; set; } = new();

    private bool _isSendingApiRequest;

    private async Task OnValidSubmit()
    {
        _isSendingApiRequest = true;
        try
        {
            var response = await AuthService.Authenticate(User);
            if(!response)
            {
                SnackbarService.Error("Something went wrong, can't log in");
                return;
            }
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            _isSendingApiRequest = false;
            SnackbarService.Success($"Welcome, {user.GetFullName()}!");
            NavigationManager.NavigateTo("/");
        }
        catch(Exception ex)
        {
            SnackbarService.Error("Something went wrong, can't log in");
        }
    }
}