@page "/items"
@inject IClient _client;

<h3>Items</h3>
<hr/>
@if(message is not null)
{
    <p class="text-danger">@message</p>
}
<div class="container">
    <div class="row">
    @foreach (var item in itemList)
    {
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://loremflickr.com/420/420/tool" alt="Picture of @item.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <a href="/" class="card-link">More...</a>
                    </div>
                </div>
            </div>
    }
    </div>
</div>




@code {
    // TODO: Add pagination

    private List<Item> itemList = new List<Item>();

    private string? message;

    private string? ownerId = "b2162ceb-793d-4e32-8029-ca56472dd93a";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await _client.ItemAllAsync(ownerId);
            itemList = response.ToList();
            if (itemList is null)
            {
                message = "No objects to load at this time";
            }
        }
        catch(Exception ex)
        {
            message = ex.Message;
        }
    }
}
